/* ================================================ */
/* Más generales*/
/* ================================================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #F00;
    text-align: center;
    font-size: 100px;
    margin: 30px 0;
}

.seleccionables-clickeables {
    cursor: pointer;
}

.estilos-button-elegir-reiniciar {
    width: 150px;
    margin: 12px 0 0;
    padding: 8px 0;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 550;
}

.estilos-button-elegir-reiniciar:hover {
    background-color: #b8b8b8;
}

/* ================================================ */
/* Secciones*/
/* ================================================ */
/* Seccion general */
.estilos-secciones-paginas {
    background-color: #FFF;
    border-radius: 10px;
}

/* Sección de elección de mascota */
#seccion-elige-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#estilos-elige-mascota {
    padding: 0px 32px;
}

#h2-elige-mascota {
    font-size: 30px;
    text-align: center;
    margin: 25px 0 0 0;
}

input {
    display: none;
}

#input-eleccion-mascota {
    display: flex;
    gap: 25px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    margin: 25px 0 32px;
    padding: 12px;
    border-radius: 20px;
    background-color: #b8b8b8;
}

label:hover {
    background-color: #9e9e9e;
}

input:checked+label {
    background-color: #000;
    color: #FFF;
}

label>span {
    font-size: 20px;
    font-weight: bold;
}

label>img {
    width: 190px;
    height: 190px;
}

/* Sección de estado de salud, ataque e historial de ataques */
#seccion-salud-ataque-historial {
    grid-template-areas:
        "salud-jugador ataque-historial salud-enemigo"
        "button-reiniciar button-reiniciar button-reiniciar";
    grid-template-columns: auto auto auto;
    justify-content: center;
}

#mokemon-salud-jugador {
    grid-area: salud-jugador;
}

#mokemon-salud-enemigo {
    grid-area: salud-enemigo;
}


.mokemon-salud {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 212px;
    border: #797979 solid 3px;
    border-radius: 20px;
    margin: 0 12px;
    background-color: #b8b8b8;
}

.mokemon-salud p {
    color: #FFF;
}

.mokemon-salud img {
    width: 150px;
    height: 150px;
}

#seccion-ataque-historial {
    grid-area: ataque-historial;
    padding: 0 32px;
}

#h2-ataque {
    margin: 25px 0 12px;
    font-size: 30px;
    text-align: center;
}

.flex-ataques {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.button-ataque {
    width: 100%;
    padding: 8px 0;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
}

#button-ataque-fuego:hover {
    background-color: rgb(255, 139, 139);
}

#button-ataque-fuego:active {
    background-color: rgb(255, 95, 95);
}

#button-ataque-agua:hover {
    background-color: rgb(139, 193, 255);
}

#button-ataque-agua:active {
    background-color: rgb(95, 143, 255);
}

#button-ataque-tierra:hover {
    background-color: #ffba52;
}

#button-ataque-tierra:active {
    background-color: #ffa500;
}


#historial-ataques {
    height: 268px;
    margin: 32px 0;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: #b8b8b8;
}

#h2-historial-ataques {
    font-size: 30px;
    margin: 0 0 5px;
    text-align: center;
}

#creacion-historial-ataques {
    width: 296px;
    height: 236px;
    overflow-y: auto;
}

#creacion-historial-ataques>p {
    font-size: 16px;
    margin: 8px 0;
}

#button-reiniciar {
    grid-area: button-reiniciar;
    margin: 12px auto 0;
}

/* Media queries */
@media (max-width: 430px) {

    /* ================================================ */
    /* secciones */
    /* ================================================ */
    /* seccion-elige-mascota */
    h1 {
        font-size: 28px;
        margin: 12px 0;
    }

    #h2-elige-mascota {
        margin: 0 0 14px;
        font-size: 24px;
    }

    #estilos-elige-mascota {
        box-sizing: border-box;
        width: calc(100% - 24px);
        padding: 8px 12px 12px;
    }

    #input-eleccion-mascota {
        flex-direction: column;
        gap: 8px;
    }

    label {
        margin: 0;
        width: 100%;
        height: 200px;
    }

    label>img {
        width: 160px;
        height: 160px;
    }

    /* Seccion salud, ataque e historial */
    #seccion-salud-ataque-historial {
        grid-template-areas:
            "salud-jugador salud-enemigo"
            "ataque-historial ataque-historial"
            "button-reiniciar button-reiniciar";
        grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    }

    .mokemon-salud {
        box-sizing: border-box;
        width: 100%;
        height: 170px;
        margin: 0;
    }

    .mokemon-salud img {
        width: 120px;
        height: 120px;
    }

    .mokemon-salud p {
        margin: 8px 0px;
        text-align: center;
        font-size: 12px;
    }

    #seccion-ataque-historial {
        padding: 8px 12px 12px;
    }

    #seccion-ataque-historial h2 {
        font-size: 24px;
    }

    #h2-ataque {
        margin: 0 0 8px;
    }

    #historial-ataques {
        margin: 12px 0 0px;
        padding: 8px;
    }

    #creacion-historial-ataques {
        width: 100%;
        height: 242px;
    }
}